a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*========================================reset code===========================================*/
header {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 140px;
}

header > div {
    margin: 20px;
}
header > div > ul {
    display: flex;
}

header > div > ul:nth-child(1) {
    justify-content: end;
    font-size: 18px;
    color: gray;
}
header > div > ul:nth-child(1) > li {
    height: 12px;
}
header > div > ul:nth-child(1) > li:not(.not_border) {
    border-left: 1px solid gray;
    padding-left: 20px;
}
header > div > ul > li {
    margin: 0 10px;
}

header > div > ul:nth-child(2) {
    margin-top: 24px;
    font-size: 28px;
    font-weight: 300;
    color: black;
}
main {
    margin-top: 140px;
}
.onc {
    cursor: pointer;
}
.onc > li > a {
    color: black;
}

.hidden_ul{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);

    top: 100px;
    padding: 50px 35px;
    font-size: 16px;
    color: black;
    display: none;
}
#menu , #store , #service {
    font-weight: bold;
    line-height: 30px;
}

#commnuity {
    display: flex;
    line-height: 30px;
    color: black;
    width: 3000px;
}
#commnuity > ul:not(.ma_not) {
    margin-right: 100px;
}
#commnuity > ul > li {
    font-weight: bold;
}
#commnuity > ul > ul > li { 
    color: grey;
    font-size: 14px;
}
#tomntoms {
    display: flex;
    font-weight: bold;
    line-height: 30px;
    width: 300px;
}
#tomntoms > ul:nth-child(1) > li:not(.not_bold) {
    color: gray;
}
.ma_bo {
    margin-bottom: 90px;
}


#bbb {
    color: black;
}

.notice {
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.rolling_1 , .rolling_2 {
    position: relative;
    width: 100%;
    height: auto;
}
.rolling_1 > li , .rolling_2 > li {
    width: 100%;
    height: 50px;
    line-height: 64px;
    display: flex;
}
.rolling_1 > li > div , .rolling_2 > li > div {
    margin: 3px 30px;
}

#frist_bo {
    background-color: #5e3a3a;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

#frist_bo > img:nth-child(1) {
    width: 30px;
    height: 30px;
    margin: 16px 20px;
    cursor: pointer;
    background-size: cover;
}

#frist_bo > img:nth-child(3),
#frist_bo > img:nth-child(5) {
    width: 17px;
    height: 17px;
    margin: 22px 20px;
    cursor: pointer;
    background-size: cover;
}

#main_txt > span {
    font-size: 50px;
    font-weight: bolder;

}

#main_txt {
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}

#main_1 {
    margin: 0 30px;
}

.silde_1 {
    width: 100%;
    height: 100%;
}

.silde {
    background-size: cover;
}

#section_1 {
    margin-top: 100px;
    height: 700px;
    position: relative;
    line-height: 40px;
}
#section_1 > img {
    height: 100%;
}
#section_1 > div {
    color: black;
    font-size: 24px;
    position: absolute;
    top: 120px;
    right: 0;
}
#section_1 > div > div:nth-child(1) {
    font-size: 40px;
}
#sss {
    margin: 25px 0;
    font-weight: bold;
    font-size: 46px;
}

#bu_1 {
    display: flex;
    margin-top: 80px;
}

#bu_1 > div {
    padding: 10px 50px;
    /* width: 200px;
    height: 60px; */
    margin: 0 8px;
}

#bu_1 > div:nth-child(1) {
    background-color: #5e3a3a;
    color: white;
    font-weight: bold;
}

#bu_1 > div:nth-child(2),
#bu_1 > div:nth-child(3) {
    border: 1px solid black;
    font-weight: bold;
}

#th {
    margin: 0 30px;
}
#sns {
    text-align: center;
}
#sns > ul {
    display: inline-flex;
}

#sns > ul > li > img {
    width: 280px;
    height: 280px;
}


.op {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.op.show {
    opacity: 1;
}
#last {
    display: flex;
    color: black;
    background-color: #efefef;
    font-size: 20px;
    margin-top: 100px;
    justify-content: space-around;
    padding-bottom: 100px;
}
#last > ul {
    margin-top: 80px;
}

#last_1 {
    font-weight: 100;
}

#last_1 > li {
    margin-bottom: 18px;
}

#last_2 > ul:not(.not_flex) {
    display: flex;
}

#last_2 > ul:nth-child(1),
#last_2 > ul:nth-child(2) {
    margin-bottom: 20px;
}
#last_2 > ul:nth-child(1) > li,
#last_2 > ul:nth-child(2) > li {
    margin-right: 40px;
    font-size: 16px;
}

.not_flex {
    margin-top: 60px;
    font-size: 14px;
    color: gray;
}
.not_flex > li:nth-child(1) {
    margin-bottom: 12px;
}

.not_flex > li:last-child {
    margin-top: 30px;
}

#last_3 {
    font-size: 16px;
    color: gray;
    display: flex;
    line-height: 50px;
}

#last_3 > li:nth-child(1) {
    margin-right: 10px;
}
